**/.terraform/*
**/.terraform.lock.hcl

**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*

**/*.tfvars
**/*.tfvars.json

**/*.tfplan

crash.log
crash.*.log

**/override.tf
**/override.tf.json
**/.terraformrc
**/terraform.rc
